<template>
<svg class='inline' xmlns="http://www.w3.org/2000/svg" width="217.632" height="147.791" viewBox="0 0 217.632 147.791">
  <g id="undraw_job_offers_kw5d" transform="translate(0 -8.07)">
    <rect id="Rectangle_1889" data-name="Rectangle 1889" width="26.56" height="15.323" transform="translate(175.706 140.073)" fill="#3182ce"/>
    <path id="Path_5370" data-name="Path 5370" d="M751.773,722.544a2.834,2.834,0,0,0,.146,2.442,2.468,2.468,0,0,0,1.044.764,7.438,7.438,0,0,0,3.316.487,1.567,1.567,0,0,0,1.173-.45,14.451,14.451,0,0,0,5-8.528.808.808,0,0,0-.027-.523.828.828,0,0,0-.348-.3,7.825,7.825,0,0,0-1.867-.853C756.614,714.658,752.663,719.513,751.773,722.544Z" transform="translate(-604.046 -570.692)" fill="#2f2e41"/>
    <path id="Path_5371" data-name="Path 5371" d="M891.409,670.681a5.293,5.293,0,0,0,1.748,1.331,2.453,2.453,0,0,0,2.136-.036,3.12,3.12,0,0,0,1.19-3.007,11.921,11.921,0,0,0-2.3-5.708c-.365-.543-1.172-2.158-1.881-2.178-.337-.01-1.6,1.211-1.938,1.443-1.25.849-2.115,1.456-1.855,3.085A10.9,10.9,0,0,0,891.409,670.681Z" transform="translate(-705.978 -530.194)" fill="#2f2e41"/>
    <path id="Path_5372" data-name="Path 5372" d="M787.766,357c-5.32-.413-10.4-.26-15.732-.533-.448-.023-.232,5.1-.7,7.888-.238,1.431-8.261,85.256-7.265,85.426a66.165,66.165,0,0,0,7.746,1.147c1.056.093,10.9-54.526,10.424-58.964a74.894,74.894,0,0,1,8.12,20.648c3.027,13.241,3.918,28.217,5.8,27.377a11.27,11.27,0,0,1,4.753-3.759c3.11-1.157-1.93-64.848-7.255-67.775a16,16,0,0,0-.836-5.5A14.627,14.627,0,0,0,787.766,357Z" transform="translate(-613.292 -303.374)" fill="#2f2e41"/>
    <path id="Path_5373" data-name="Path 5373" d="M424.316,616.105H277.706v-.557H424.417Z" transform="translate(-206.785 -460.245)" fill="#3f3d56"/>
    <g id="Group_1696" data-name="Group 1696" transform="translate(0 31.449)">
      <g id="Group_1693" data-name="Group 1693">
        <rect id="Rectangle_1892" data-name="Rectangle 1892" width="120.288" height="23.749" fill="#e6e6e6"/>
        <path id="Path_5374" data-name="Path 5374" d="M183.95,169.8h115.16V151.176H183.95Z" transform="translate(-181.386 -148.612)" fill="#fff"/>
        <circle id="Ellipse_356" data-name="Ellipse 356" cx="7.094" cy="7.094" r="7.094" transform="translate(5.552 4.626)" fill="#3182ce"/>
        <rect id="Rectangle_1893" data-name="Rectangle 1893" width="70.014" height="1.542" transform="translate(29.609 8.944)" fill="#3182ce"/>
        <rect id="Rectangle_1894" data-name="Rectangle 1894" width="70.014" height="1.542" transform="translate(29.609 12.954)" fill="#3182ce"/>
      </g>
      <g id="Group_1694" data-name="Group 1694" transform="translate(0 37.65)">
        <rect id="Rectangle_1891" data-name="Rectangle 1891" width="120.288" height="23.749" fill="#e6e6e6"/>
        <path id="Path_5375" data-name="Path 5375" d="M183.95,317.547h115.16v-18.62H183.95Z" transform="translate(-181.386 -296.28)" fill="#fff"/>
        <circle id="Ellipse_357" data-name="Ellipse 357" cx="7.094" cy="7.094" r="7.094" transform="translate(5.552 4.935)" fill="#ccc"/>
        <rect id="Rectangle_1895" data-name="Rectangle 1895" width="70.014" height="1.542" transform="translate(29.609 9.253)" fill="#ccc"/>
        <rect id="Rectangle_1896" data-name="Rectangle 1896" width="70.014" height="1.542" transform="translate(29.609 13.262)" fill="#ccc"/>
      </g>
      <g id="Group_1695" data-name="Group 1695" transform="translate(0 75.176)">
        <rect id="Rectangle_1890" data-name="Rectangle 1890" width="120.288" height="23.749" fill="#e6e6e6"/>
        <path id="Path_5376" data-name="Path 5376" d="M183.95,464.165h115.16v-18.62H183.95Z" transform="translate(-181.386 -442.98)" fill="#fff"/>
        <circle id="Ellipse_358" data-name="Ellipse 358" cx="7.094" cy="7.094" r="7.094" transform="translate(5.552 4.935)" fill="#ccc"/>
        <rect id="Rectangle_1897" data-name="Rectangle 1897" width="70.014" height="1.542" transform="translate(29.609 9.253)" fill="#ccc"/>
        <rect id="Rectangle_1898" data-name="Rectangle 1898" width="70.014" height="1.542" transform="translate(29.609 13.263)" fill="#ccc"/>
      </g>
    </g>
    <path id="Path_5377" data-name="Path 5377" d="M789.839,185.062c-2.761-4.666-8.224-4.883-8.224-4.883s-5.323-.681-8.738,6.425c-3.183,6.623-7.576,13.018-.707,14.569l1.241-3.862.768,4.149a26.886,26.886,0,0,0,2.939.05c7.356-.238,14.361.069,14.136-2.57C790.953,195.431,792.5,189.551,789.839,185.062Z" transform="translate(-616.676 -172.091)" fill="#2f2e41"/>
    <path id="Path_5378" data-name="Path 5378" d="M801.169,243.258a2.911,2.911,0,0,1-.251,1.535c-.517.9-1.78,1.039-2.54,1.752a4.268,4.268,0,0,0-.927,3.06,8.459,8.459,0,0,0,.344,3.392,8.243,8.243,0,0,0,.964,1.655q.7,1,1.4,2A8.623,8.623,0,0,0,801,257.7a7.162,7.162,0,0,0,3.165,1.679,3.956,3.956,0,0,0,2.3.152,4.4,4.4,0,0,0,1.337-.822,7.166,7.166,0,0,0,1.514-1.467,6.83,6.83,0,0,0,.926-3.129,67.467,67.467,0,0,0,.445-9.726,2.383,2.383,0,0,0-.186-1.033c-.385-.751-1.415-.911-1.958-1.558a3.116,3.116,0,0,1-.479-2.062l.01-1.837a.772.772,0,0,0-.089-.447.759.759,0,0,0-.527-.246,17.764,17.764,0,0,0-3.456-.231c-.938.029-2.737-.05-3.548.472-.736.474.185,1.783.356,2.519A16.4,16.4,0,0,1,801.169,243.258Z" transform="translate(-638.192 -214.391)" fill="#ffb8b8"/>
    <circle id="Ellipse_359" data-name="Ellipse 359" cx="7.424" cy="7.424" r="7.424" transform="translate(157.704 10.865)" fill="#ffb8b8"/>
    <path id="Path_5379" data-name="Path 5379" d="M789.819,270.558c-3.832-12.143-5.851,4.913-8.266,9.57.022,3.211.109,12.092.86,15.458,2.917,13.076,17.363,12.05,21.707,1.022,2.314-5.875-2.819-20.434-2.645-27.227C795.114,262.934,794.721,283.385,789.819,270.558Z" transform="translate(-626.372 -236.213)" fill="#3182ce"/>
    <path id="Path_5380" data-name="Path 5380" d="M766.061,263.74c-8.3,4.035-4.342,14.877-7.351,21.973-2.4,9.735-8.517,12.8,5.46,13.023,3.012-8.9.07-18.564,4.176-27.624.283-3.549,1.5-4.883,1.392-7.888C768.932,261.976,766.847,263.354,766.061,263.74Z" transform="translate(-606.819 -233.56)" fill="#575a88"/>
    <path id="Path_5381" data-name="Path 5381" d="M631.311,48.211l-5.4-2.827-7.453,1.157-1.542,6.811,3.839-.148,1.072-2.5v2.461l1.771-.068,1.028-3.984.642,4.241,6.3-.129Z" transform="translate(-459.369 -35.69)" fill="#2f2e41"/>
    <path id="Path_5382" data-name="Path 5382" d="M834.113,263.138c4.274-.5.107-5.631,3.5-5.544,10.157-1.708,13.2,4.582,9.333,13.363-3.541,7.033,8.984,16.912,1.987,20.847-2.483.912-6.039,3.779-8.466,2.531C836.57,284.541,836.429,273.351,834.113,263.138Z" transform="translate(-665.509 -229.54)" fill="#575a88"/>
    <path id="Path_5383" data-name="Path 5383" d="M869.813,377.4a10.159,10.159,0,0,0-3.661,3.158c-.211.278.072.8.7.789.588-.008.939-.762,1.527-.77a25.548,25.548,0,0,0,.972,4.634,11.613,11.613,0,0,0,2.547-3.889l1.328-2.785c.487-1.023.975-2.045,1.415-3.089a2.228,2.228,0,0,0,.218-.779c.058-1.8-1.714-1.808-2.477-.683C871.549,375.212,871.289,376.69,869.813,377.4Z" transform="translate(-689.314 -315.841)" fill="#ffb8b8"/>
    <path id="Path_5384" data-name="Path 5384" d="M875.759,268.643a24.856,24.856,0,0,1,3.161,3.751c.882,1.38,5.442,13.794,5.627,14.057.658.972-.11,3.483-.15,3.627-.076.451-1.027,4.955-1.266,5.95-.167.7-.165,1.421-.274,2.128a3.049,3.049,0,0,1-.9,1.9.563.563,0,0,1-.248.139c-.3.059-.508-.291-.614-.58a9.622,9.622,0,0,0-1.243-2.581,3.169,3.169,0,0,0-2.42-1.357,1.29,1.29,0,0,1,.094-1.178c.192-.362.474-.669.686-1.02a4.693,4.693,0,0,0,.539-1.541,10.113,10.113,0,0,0-1.335-7.214,6.908,6.908,0,0,0-1.114-1.393c-.468-.439-1.016-.791-1.448-1.266a4.946,4.946,0,0,1-1.152-2.8,14.741,14.741,0,0,1,.081-3.067c.195-2.018.444-4.038.733-6.045a2.253,2.253,0,0,1,.2-.755A1.909,1.909,0,0,1,875.759,268.643Z" transform="translate(-694.955 -237.976)" fill="#575a88"/>
    <path id="Path_5385" data-name="Path 5385" d="M777.6,375.562c-.764-1.124-2.536-1.114-2.478.683a2.232,2.232,0,0,0,.218.779c.44,1.044.927,2.067,1.415,3.089l1.328,2.785a11.615,11.615,0,0,0,2.547,3.889,25.552,25.552,0,0,0,.972-4.634c.588.008.939.762,1.527.77.632.008.914-.511.7-.789a10.161,10.161,0,0,0-3.661-3.158C778.692,378.269,778.432,376.791,777.6,375.562Z" transform="translate(-621.58 -317.017)" fill="#ffb8b8"/>
    <path id="Path_5386" data-name="Path 5386" d="M768.347,270.979a2.256,2.256,0,0,1,.2.755c.288,2.007.538,4.027.732,6.045a14.753,14.753,0,0,1,.081,3.067,4.948,4.948,0,0,1-1.152,2.8c-.432.474-.98.827-1.448,1.266a6.911,6.911,0,0,0-1.114,1.393,10.115,10.115,0,0,0-1.335,7.214,4.7,4.7,0,0,0,.539,1.542c.212.351.493.658.685,1.02a1.291,1.291,0,0,1,.094,1.178,3.168,3.168,0,0,0-2.42,1.357,9.616,9.616,0,0,0-1.243,2.581c-.106.289-.311.639-.614.58a.563.563,0,0,1-.248-.139,3.048,3.048,0,0,1-.9-1.9c-.109-.707-.107-1.432-.274-2.128-.239-.995-1.19-5.5-1.266-5.95-.039-.144-.808-2.656-.149-3.627.185-.263,4.745-12.677,5.627-14.058a24.862,24.862,0,0,1,3.161-3.75A1.909,1.909,0,0,1,768.347,270.979Z" transform="translate(-609.021 -239.152)" fill="#575a88"/>
  </g>
</svg>

</template>