<template>
<svg xmlns="http://www.w3.org/2000/svg" width="219.562" height="144.546" viewBox="0 0 219.562 144.546">
  <g id="undraw_Profile_data_re_v81r" transform="translate(-0.011 0)">
    <path id="Path_5347" data-name="Path 5347" d="M257.3,193.167q-.38,2-.91,3.951c-.038.151-.081.3-.124.452h-4.922a1.583,1.583,0,0,0-1.581,1.581v14.032c-.149.278-.3.553-.452.829-.782,1.423-1.595,2.83-2.426,4.22a160.413,160.413,0,0,1-55.047,55.015l1.337-3.018-1.473-.1c-10.673-.73-21.383-1.538-31.805-3.937-10.9-2.51-21.57-6.863-30.116-14.08s-14.814-17.529-15.684-28.683a32.727,32.727,0,0,1,1.145-11.387,29.24,29.24,0,0,1,12.7-17.317c9.921-5.952,22.862-4.739,33.321.212s18.968,13.142,27.278,21.193a105.36,105.36,0,0,0-34.089-35.582c-4.644-2.973-9.573-5.62-13.522-9.472s-6.858-9.246-6.16-14.714c.793-6.2,5.873-10.91,10.962-14.54,2.033-1.45,4.132-2.826,6.3-4.091a54.513,54.513,0,0,1,19.686-7.278c9.449-1.358,19.655.7,26.9,6.919,8.161,7,11.509,18.3,11.191,29.108,5.028-7.31,12.783-12.905,21.541-13.142,9.092-.244,17.735,5.5,22.288,13.375S259.006,184.233,257.3,193.167Z" transform="translate(-113.998 -130.052)" fill="#e6e6e6"/>
    <path id="Path_5348" data-name="Path 5348" d="M492.43,314.493a80.942,80.942,0,0,0,15.4-2.477,28.357,28.357,0,0,0,13.376-7.654c3.83-4.161,5.9-9.565,7.356-14.945.813-3,1.482-6.041,2.112-9.083q1.026-4.951,1.824-9.947,1.587-9.943,2.266-20,.082-1.221.15-2.443c.028-.5-.753-.5-.782,0q-.558,9.916-2.007,19.756c-.953,6.445-2.173,12.861-3.721,19.19-1.311,5.362-3.009,10.807-6.371,15.271a25.586,25.586,0,0,1-12.625,8.556,69.752,69.752,0,0,1-15.509,2.823c-.641.061-.831.118-1.473.175-.5.044-.5.826,0,.782Z" transform="translate(-406.648 -221.02)" fill="#fff"/>
    <path id="Path_5349" data-name="Path 5349" d="M120.2,492.88a84.708,84.708,0,0,1,19.811,3.491,85.614,85.614,0,0,1,18.45,8.031A83.525,83.525,0,0,1,174,516.1a85.513,85.513,0,0,1,20.821,31.307q.413,1.087.8,2.184c.165.472.92.269.754-.208a85.536,85.536,0,0,0-8.3-17.255,86.644,86.644,0,0,0-11.9-15A84.474,84.474,0,0,0,160.968,505a86.271,86.271,0,0,0-38.3-12.735q-1.23-.1-2.463-.17c-.5-.027-.5.754,0,.782Z" transform="translate(-118.499 -410.315)" fill="#fff"/>
    <path id="Path_5350" data-name="Path 5350" d="M282.334,165.443a46.036,46.036,0,0,1,12.085,5.906,56.754,56.754,0,0,1,10.317,9.162,75.954,75.954,0,0,1,8.543,11.774,100.443,100.443,0,0,1,6.793,13.81,124.964,124.964,0,0,1,4.947,15.021,141.221,141.221,0,0,1,4.525,31.476,125.019,125.019,0,0,1-.447,15.14,96.436,96.436,0,0,1-2.273,13.939,65.858,65.858,0,0,1-4.1,12.053q-.609,1.319-1.293,2.6c-.236.444.438.839.675.395a60.246,60.246,0,0,0,4.616-11.617,89.967,89.967,0,0,0,2.753-13.666,118.9,118.9,0,0,0,.909-15.11,138.621,138.621,0,0,0-.946-15.877,143.01,143.01,0,0,0-2.754-15.865,129.464,129.464,0,0,0-4.6-15.451,107.508,107.508,0,0,0-6.4-14.219,82.421,82.421,0,0,0-8.209-12.39,61.121,61.121,0,0,0-10.029-9.938,48.5,48.5,0,0,0-11.761-6.784q-1.547-.616-3.136-1.113c-.481-.151-.687.6-.208.754Z" transform="translate(-244.089 -156.85)" fill="#fff"/>
    <ellipse id="Ellipse_354" data-name="Ellipse 354" cx="55.908" cy="2.259" rx="55.908" ry="2.259" transform="translate(28.698 140.028)" fill="#e6e6e6"/>
    <path id="Path_5351" data-name="Path 5351" d="M657.032,440.468a2.385,2.385,0,0,0-.054.37l-9.7,5.6-2.359-1.358L642.4,448.37l5.046,3.6,11.07-8.733a2.371,2.371,0,1,0-1.485-2.765Z" transform="translate(-523.032 -368.932)" fill="#ffb8b8"/>
    <path id="Path_5352" data-name="Path 5352" d="M605.009,443.228l7.641,5.446,3.417-4.284-7.427-5.96a3.01,3.01,0,0,0-4.335.6h0a3.01,3.01,0,0,0,.7,4.2Z" transform="translate(-493.108 -368.258)" fill="#3182ce"/>
    <path id="Path_5353" data-name="Path 5353" d="M425.519,571.546l2.679.7,3.982-10-3.954-1.036Z" transform="translate(-329.39 -434.441)" fill="#ffb8b8"/>
    <path id="Path_5354" data-name="Path 5354" d="M0,0H8.7V3.363H3.363A3.363,3.363,0,0,1,0,0H0Z" transform="matrix(-0.967, -0.253, 0.253, -0.967, 103.323, 141.649)" fill="#2f2e41"/>
    <path id="Path_5355" data-name="Path 5355" d="M524.505,576.9l2.726-.487-.581-10.747-4.023.719Z" transform="translate(-404.563 -437.89)" fill="#ffb8b8"/>
    <path id="Path_5356" data-name="Path 5356" d="M0,0H8.7V3.363H3.363A3.363,3.363,0,0,1,0,0H0Z" transform="translate(128.378 140.118) rotate(169.872)" fill="#2f2e41"/>
    <path id="Path_5357" data-name="Path 5357" d="M604.873,393.23a2.6,2.6,0,0,1,1.547,1.641,11.448,11.448,0,0,1,.611,2.578,10.384,10.384,0,0,1-.028,4.932,3.171,3.171,0,0,1-3.736,2.273c-1.445-.438-2.594-2.082-2.987-3.974a9.624,9.624,0,0,1,.661-5.666,4.608,4.608,0,0,1,1.728-2.218,1.705,1.705,0,0,1,2.274.474" transform="translate(-490.298 -333.254)" fill="#2f2e41"/>
    <path id="Path_5358" data-name="Path 5358" d="M560.2,526.948l5.19,46.487-4.287,1.628L553.2,543.89l-11.007,28.5-4.692.261S543.94,528.3,548.711,527.3Z" transform="translate(-441.828 -437.293)" fill="#2f2e41"/>
    <circle id="Ellipse_355" data-name="Ellipse 355" cx="5.548" cy="5.548" r="5.548" transform="translate(108.468 54.812)" fill="#ffb8b8"/>
    <path id="Path_5359" data-name="Path 5359" d="M593.958,429.448l-6-.782s-3.91,4.692-3.649,12.773S583.661,452,583.661,452l12.5.226C594.355,449.737,601.914,435.466,593.958,429.448Z" transform="translate(-477.561 -361.212)" fill="#3182ce"/>
    <path id="Path_5360" data-name="Path 5360" d="M597.625,495.337a2.365,2.365,0,0,0-.373.032l-7.67-8.165.782-2.607-3.78-1.694-2.346,5.735,11.035,8.778a2.371,2.371,0,1,0,2.352-2.079Z" transform="translate(-478.007 -403.198)" fill="#ffb8b8"/>
    <path id="Path_5361" data-name="Path 5361" d="M594.138,439.779l-3.552,8.684,4.953,2.346,4.1-8.594a3.01,3.01,0,0,0-1.577-4.082h0A3.01,3.01,0,0,0,594.138,439.779Z" transform="translate(-482.921 -368.367)" fill="#3182ce"/>
    <path id="Path_5362" data-name="Path 5362" d="M581.874,378.881c.869-.5.962-1.711.844-2.708a4.132,4.132,0,0,1,.27-2.923c.7-.973,2.1-.992,3.3-1.024s2.656-.382,2.966-1.539a2.062,2.062,0,0,0-.863-2.065,6.056,6.056,0,0,0-2.182-.894,13.4,13.4,0,0,0-5.233-.658,6.672,6.672,0,0,0-5.684,7.45c.284,2.225.7,3.2.425,4.178-.5,1.828-2.673,3-2.716,4.9-.034,1.482,1.276,2.626,2.553,3.378a8.569,8.569,0,0,0,3.274,1.243,4.175,4.175,0,0,0,3.295-.919,4.441,4.441,0,0,0,1.078-4.208,12.878,12.878,0,0,0-1.963-4.077" transform="translate(-469.309 -313.477)" fill="#2f2e41"/>
    <path id="Path_5363" data-name="Path 5363" d="M795.224,426.948H715.033A2.036,2.036,0,0,0,713,428.981v51.5a2.036,2.036,0,0,0,2.033,2.033h80.191a2.036,2.036,0,0,0,2.033-2.033v-51.5A2.036,2.036,0,0,0,795.224,426.948Zm1.581,53.536a1.583,1.583,0,0,1-1.581,1.581H715.033a1.583,1.583,0,0,1-1.581-1.581v-51.5a1.583,1.583,0,0,1,1.581-1.581h80.191a1.583,1.583,0,0,1,1.581,1.581Z" transform="translate(-577.683 -359.882)" fill="#3f3d56"/>
    <path id="Path_5364" data-name="Path 5364" d="M747.847,483.933H735.2a1.922,1.922,0,0,1-1.92-1.92v-12.65a1.922,1.922,0,0,1,1.92-1.92h12.65a1.922,1.922,0,0,1,1.92,1.92v12.65A1.922,1.922,0,0,1,747.847,483.933Z" transform="translate(-593.38 -391.23)" fill="#3182ce"/>
    <path id="Path_5365" data-name="Path 5365" d="M807.313,589.89H735.481a1.468,1.468,0,1,1,0-2.937h71.833a1.468,1.468,0,1,1,0,2.937Z" transform="translate(-593.95 -483.744)" fill="#ccc"/>
    <path id="Path_5366" data-name="Path 5366" d="M807.531,558.39H735.7a1.468,1.468,0,1,1,0-2.937h71.833a1.468,1.468,0,1,1,0,2.937Z" transform="translate(-594.117 -459.359)" fill="#ccc"/>
    <path id="Path_5367" data-name="Path 5367" d="M860.312,515.38H849.7a1.468,1.468,0,1,1,0-2.937h10.617a1.468,1.468,0,1,1,0,2.937Z" transform="translate(-682.364 -426.065)" fill="#ccc"/>
    <path id="Path_5368" data-name="Path 5368" d="M895.78,483.39H849.7a1.468,1.468,0,0,1,0-2.937H895.78a1.468,1.468,0,1,1,0,2.937Z" transform="translate(-682.366 -401.301)" fill="#ccc"/>
    <path id="Path_5369" data-name="Path 5369" d="M770.091,621.89H735.481a1.468,1.468,0,1,1,0-2.937h34.609a1.468,1.468,0,0,1,0,2.937Z" transform="translate(-593.95 -508.515)" fill="#ccc"/>
  </g>
</svg>
</template>