<template>
    <div>
        <div> 
        <div class="pt-[29px] text-[#4A5568] text-center text-[21px]">
            <div>Drei einfache Schritte zur</div>
            <div>Vermittlung neuer Mitarbeiter</div>
        </div>
        <div class="relative">
            <div class='mt-[20px] absolute right-[30px]'>
                <Container1 />
            </div>
            <div class="ml-[20px] flex pt-[100px] text-[#718096]">
                <span class='text-[130px] mr-[20px]'>1.</span>          
                <span class='relative'>
                    <span class="text-[16px] absolute bottom-[42px]">Erstellen dein <br>Unternehmensprofil</span>
                </span>
            </div> 
        </div>
        </div>
        <SVGUP />
        <div class="bg-[#E6FFFA] z-10 text-[#718096] pb-[30px]">
            <div class="pl-[50px] mb-[0px]">
                <span class='text-[130px] mr-[20px]'>2.</span>          
                <span class='relative'>
                    <span class=" w-max text-[16px] absolute bottom-0 left-0">Erhalte Vermittlungs- <br>angebot von Arbeitgeber</span>
                </span>           
            </div> 
            <div class="text-center ml-[30px]">
                <Container2 />
            </div>
        </div>
        <div class="rotate-180">
            <SvgBG />        
        </div>
        <div class="text-[#718096]">
            <div class="pl-[80px] flex mb-[30px]">
            <span class='text-[130px] leading-[130px] mr-[20px]'>3.</span>          
                <span class='text-[16px] ml-[10px] mt-[50px]'>Vermittlung nach<br>Provision oder<br>Stundenlohn</span>
            </div>
            <div class="mb-[100px] text-center">
                <Container3 />
            </div>
        </div>
    </div>

</template>

<script>
  import Container1 from './svgs/Container1.vue'
  import Container2 from './svgs/Container2Page3.vue'
  import Container3 from './svgs/Container3Page3.vue'
  import SvgBG from './svgs/svgCurveShape.vue'
  import SVGUP from './svgs/SvgCurveUp.vue'

export default {
    components: { Container1, Container2, Container3, SvgBG, SVGUP},
}
</script>