<template>
    <div>
      <div class="pt-[29px]  text-[#4A5568] text-center text-[21px]">
          <div>Drei einfache Schritte</div>
          <div>zu deinem neuen Job</div>
      </div>
      <div class="relative bg1">
        <div class='mt-[20px] absolute right-[30px]'>
          <Container1 />
        </div>
        <div class=" ml-[20px] text-left pt-[65px] text-[#718096]">
            <span class='text-[130px] mr-[10px]'>1.</span>
            <span class='text-[16px]'>Erstellen dein Lebenslauf</span>
        </div>
      </div>
      <SVGUP />
      <div class="bg-[#E6FFFA] z-10 text-[#718096] mt-[0px]">
          <div class="pl-[50px]">
            <span class='text-[130px] mr-[10px]'>2.</span>
            <span class='text-[16px]'>Erstellen dein Lebenslauf</span>
          </div> 
          <div class="text-center">
            <Container2 />
          </div>
      </div>
      <div class="rotate-180">
        <SvgBG />        
      </div>
      <div class="text-[#718096]">
        <div class="pl-[70px] flex mr-[40px]">
            <span class='text-[130px] leading-[130px]'>3.</span>          
            <span class='text-[16px] m-auto'>Mit nur einem Klick<br> bewerben</span>
        </div> 
        <div class="relative mb-[300px]">
          <Container3 />
        </div>
      </div>
    </div>

</template>

<script>
  import Container1 from './svgs/Container1.vue'
  import Container2 from './svgs/Container2.vue'
  import Container3 from './svgs/Container3.vue'
  import SvgBG from './svgs/svgCurveShape.vue'
  import SVGUP from './svgs/SvgCurveUp.vue'
  import '../assets/css/main.css';

export default {
    components: { Container1, Container2, Container3, SvgBG,SVGUP },
}
</script>