<template>
  <div class='relative font-Lato'>
    <div class="relative z-10">
      <div class='text-center fixed top-0 text-[14px] w-[100%] border-t-[#3182CE] border-t-[5px] pb-[22px] border-b-[2px] border-b-[#00000029] rounded-b-[12px] shadow-sm bg-white'>
        <div class='text-right hover:underline text-[#319795] hover:text-[#38B2AC] cursor-pointer pr-[17px] pt-[26px] '>
          Login
        </div>
      </div>
    </div>
    <div class='bg-[#E6FFFA] pt-[90px] text-[#2D3748] text-[42px] text-center'>
      <div>
        Deine Job
      </div>
      <div>
        website
      </div> 
    </div>
    <div class='bg-[#E6FFFA]'>
      <Logo />
    </div>
    <SVGLogoBottom />
    <div :style="{marginLeft: value === 0 ? '0': value===1 ? '-50px': '-100px'}" class='pt-[55px] px-[20px] text-[#319795] text-[14px] bg-white whitespace-nowrap overflow-hidden pb-[30px] cursor-pointer'>
        <span  @click="value = 0" :style="{color: value===0 ? '#E6FFFA': '#319795', background: value===0 ? '#81E6D9': 'white', border : value === 0 ? '1px solid #81E6D9': '1px solid #319795' }" class='py-[12px] px-[30px] rounded-l-[12px]'>
          Arbeitnehmer
        </span>
        <span @click="value = 1" :style="{ color: value===1 ? '#E6FFFA': '#319795', background: value===1 ? '#81E6D9': 'white', border : value === 1 ? '1px solid #81E6D9': '1px solid #319795'}" class='border-[#319795] py-[12px] px-[30px] border-[1px]'>
          Arbeitgeber
        </span>
        <span @click="value = 2" :style="{color: value===2 ? '#E6FFFA': '#319795' , background: value===2 ? '#81E6D9': 'white', border : value === 2 ? '1px solid #81E6D9': '1px solid #319795'}" class='border-[#319795] py-[12px] px-[30px] border-[1px] rounded-r-[12px]'>
          Temporärbüro
        </span>
    </div>
    <div v-if="value === 0">
      <Page1 />
    </div>
    <div v-else-if="value === 1">
      <Page2 />
    </div>
    <div v-else-if="value === 2">
      <Page3 />
    </div>

    <div class='relative'>
      <div class='text-center w-full fixed bottom-0 border-t-1 border-t-[#707070] rounded-t-[12px] bg-white'>
        <button class='cursor-pointer hover:brightness-90	 text-[#E6FFFA] w-[320px] text-[14px] h-[40px] my-[24px] bg-gradient-to-r from-[#319795] to-[#3182CE] rounded-[12px]'>
          Kostenlos Registrieren
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import Logo from '../components/svgs/Logo.vue'
  import Page1 from '../components/Page1.vue'
  import Page2 from '../components/Page2.vue'
  import Page3 from '../components/Page3.vue'
  import SVGLogoBottom from '../components/svgs/SVGLogoBottom.vue'
export default {
    components: { Logo, Page1, Page2, Page3, SVGLogoBottom},
    classObject: {
        background: 'transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box'
    },
    data: function() {
       return {
          value: 0
        }
    }}
</script>